$colorPrincipal : #0271C0;
$colorSecondaire: rgb(255, 255, 255);
$colorTertiaire: #B9E0FC;

@mixin Transition($time:1s){
    transition-property:all;
    transition-duration:$time;
    transition-timing-function:ease-in-out;
} 
body {
    margin: 0;
    font-family: 'Rubik', sans-serif; 
    background-color: $colorSecondaire;
}
.header{
    box-shadow: 0 1px 0 $colorPrincipal;
    #headerDiv {
        display: flex;
        justify-content: space-between;
        padding-bottom: 2vh;
        
        div {
            margin-top: 1vh;
            #Home {
                text-decoration: none;
                font-size: 12vw;
                margin: 0; 
                color: $colorPrincipal;
                margin-right: 14vw;
            }
        }
        #menuBT {
            margin-top: 4vw;
            .burgerMenu {
                display: block;
                width: 10vw;
                height: 4px;
                background-color: $colorPrincipal;
                margin: 8px;
                border-radius: 3px;
                @include Transition($time:0.4s);
            }
        }
    }
    #pages {
        display: none;
        div {
            display: flex;
            justify-content: space-around;
            padding-bottom: 2vh;
    
            .btn-header{
                padding: 1vw;
                text-decoration: none;
                font-size: 4vw; 
                color: black;
                transition: 200ms;
                display: flex;
                text-align: center;
                justify-content: center;
            }

            
        }
    }
}
.change {
    .bar1 {
        transform: rotate(-45deg) translate(-10px, 8px);
    }
    .bar2 {
        opacity:0;
    }
    .bar3 {
        transform: rotate(45deg) translate(-8px, -8px);
    }
}
// responsive pour petit écran

@media screen and (max-width: 768px) {
    .row {
      min-height: 80vh;
      flex-direction: column;
      
      form {
        width: 80%;
        height: auto;
        
        div {
          flex-direction: column;
          width: 100%;
          
          input {
            height: auto;
            margin-bottom: 20px;
          }
        
        }
      }
    }
}
  
// responsive pour grand écran
  
  @media screen and (min-width: 768px) {
    .row {
      min-height: 60vh;
      
      form {
        width: 50%;
        height: 50%;
        
        div {
          width: 80%;
          
          input {
            height: 5vh;
            margin-bottom: 50px;
          }
          
        }
      }
    }
  }


  @media screen and (max-width: 768px) {
    .sudoku{
      width: 90%;
    }

    .center-play{
      margin-top: 30%;
    }
  }

  @media screen and (max-width: 768px) {
    .title-h1{
      display: none;
    }
    .sudoku-gameplay{

  
      .box-vie{
        position: relative;
      }
      table{
        width: 100%;
        height: 100%;

        td{
          font-size: 1.5rem;
        }
      }
      .choose-number{
        width: 100%;
        margin-top: 40px;
        grid-template-columns: repeat(3, 20px);
        grid-gap: 70px;

        div{
          width: 60px;
          height: 60px;
        }
      }
    }

    .toggle{
      width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
  .title-h1{
    display: none;
  }
  .sudoku-gameplay{


    .box-vie{
      position: relative;
    }
    table{
      width: 700px;
      height: 700px;

      td{
        font-size: 1.5rem;
      }
    }
    .choose-number{
      width: 100%;
      margin-top: 40px;
      grid-template-columns: repeat(4, 20px);
      grid-gap: 70px;

      div{
        width: 60px;
        height: 60px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .classement-buttons{
      button{
          width: 40%;
          font-size: 1rem;
      }
  }
}

@media only screen and (max-width: 768px) {
  .classement {
    width: 90%;

    table {
      font-size: 0.8rem;
    
      thead {
        th {
          padding: 5px;
        
          &:first-child {
            font-size: 1.2rem;
          }
        }
      }
    
      tbody {
        tr {
          td {
            padding: 5px;
          
            &:first-child {
              img {
                width: 30px;
                height: 30px;
                margin-right: 5px;
              }
            }
          }
        }
      }
    }
  }
  
}