$colorPrincipal : #0271C0;
$colorSecondaire: rgb(255, 255, 255);
$colorTertiaire: #B9E0FC;
* {
    background-color: $colorSecondaire;
}
 main {
    margin-top: 1vh;
 }

@mixin Transition($time:1s){
    transition-property:all;
    transition-duration:$time;
    transition-timing-function:ease-in-out;
 } 
body {
    margin: 0;
    font-family: 'Rubik', sans-serif;  
}
.header{
    box-shadow: 0 1px 0 $colorPrincipal;
    #headerDiv {
        display: flex;
        justify-content: space-between;
        padding-bottom: 2vh;
        
        div {
            margin-top: 1vh;
            #Home {
                text-decoration: none;
                font-size: 12vw;
                margin: 0; 
                color: $colorPrincipal;
                margin-right: 14vw;
            }
        }
        #menuBT {
            margin-top: 4vw;
            .burgerMenu {
                display: block;
                width: 10vw;
                height: 4px;
                background-color: $colorPrincipal;
                margin: 8px;
                border-radius: 3px;
                @include Transition($time:0.4s);
            }
        }
    }
    #pages {
        display: none;
        div {
            display: flex;
            justify-content: space-around;
            padding-bottom: 2vh;
    
            a{
                padding: 1vw;
                text-decoration: none;
                font-size: 4vw; 
                color: black;
                transition: 200ms;
                display: flex;
                text-align: center;
                justify-content: center;
            }

            
        }
    }
}
.change {
    .bar1 {
        transform: rotate(-45deg) translate(-10px, 8px);
    }
    .bar2 {
        opacity:0;
    }
    .bar3 {
        transform: rotate(45deg) translate(-8px, -8px);
    }
}
// responsive pour petit écran

@media screen and (max-width: 768px) {
    .row {
      min-height: 80vh;
      flex-direction: column;
      
      form {
        width: 80%;
        height: auto;
        
        div {
          flex-direction: column;
          width: 100%;
          
          input {
            height: auto;
            margin-bottom: 20px;
          }
        
        }
      }
    }
  }
  
// responsive pour grand écran
  
  @media screen and (min-width: 768px) {
    .row {
      min-height: 60vh;
      
      form {
        width: 50%;
        height: 50%;
        
        div {
          width: 80%;
          
          input {
            height: 5vh;
            margin-bottom: 50px;
          }
          
        }
      }
    }
  }