.sudoku-gameplay {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  margin: auto;
  position: relative;
  flex-wrap: wrap;
}
.sudoku-gameplay .box-vie {
  position: absolute;
  top: -10%;
  right: 10%;
  font-size: 1.5rem;
}
.sudoku-gameplay table {
  margin: flex;
  width: 500px;
  height: 500px;
  border: 2px solid black;
  text-align: center;
  border-collapse: collapse;
}
.sudoku-gameplay td {
  padding: 5px;
  width: 10%;
  height: 10%;
  font-size: 2rem;
  border: 1px solid gray;
  transition: all 0.4s;
}
.sudoku-gameplay td:nth-child(3), .sudoku-gameplay td:nth-child(6) {
  border-right: 2px solid black;
}
.sudoku-gameplay td:hover {
  background-color: rgba(137, 136, 136, 0.3);
  transition: all 0.2s;
  cursor: pointer;
}
.sudoku-gameplay td.true {
  background-color: rgba(72, 196, 1, 0.21);
}
.sudoku-gameplay td.false {
  background-color: rgba(255, 66, 66, 0.5);
}
.sudoku-gameplay tr {
  border: 1px solid gray;
}
.sudoku-gameplay tr:nth-child(3), .sudoku-gameplay tr:nth-child(6) {
  border-bottom: 2px solid black;
}
.sudoku-gameplay .choose-number {
  width: 25%;
  display: grid;
  grid-template-columns: repeat(3, 25px);
  grid-gap: 75px;
  justify-content: center;
}
.sudoku-gameplay .choose-number div {
  width: 75px;
  height: 75px;
  background-color: #B9E0FC;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border-radius: 15px;
  margin: -25px;
}
.sudoku-gameplay .choose-number div:hover {
  background-color: rgba(137, 136, 136, 0.5);
  cursor: pointer;
}
.sudoku-gameplay .selected {
  background-color: rgba(110, 110, 110, 0.5);
}
.sudoku-gameplay .selected:hover {
  background-color: rgba(110, 110, 110, 0.5);
}

.title-h1 {
  margin-left: 5%;
}

@media (min-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
  }
  .header #headerDiv div #Home {
    margin-left: 5vw !important;
    padding-bottom: 0 !important;
  }
  .header #headerDiv #menuBT {
    display: none;
  }
  .header #pages {
    display: block !important;
    width: 50vw;
    margin-top: 1.5vw;
  }
  .header #pages div a {
    background-color: #B9E0FC;
    border-radius: 99vw;
  }
  .header #pages div a:hover {
    background-color: #0271C0;
    color: rgb(255, 255, 255) !important;
  }
}
@media (min-width: 768px) and (max-width: 1400px) {
  #headerDiv div #Home {
    font-size: 5vw !important;
  }
  #pages a {
    width: 12vw;
    font-size: 2vw !important;
  }
}
@media (min-width: 1400px) {
  #headerDiv div #Home {
    font-size: 4vw !important;
  }
  #pages a {
    width: 8vw;
    font-size: 1vw !important;
  }
}
.toggle {
  display: none;
  text-align: center;
  background-color: greenyellow;
}
.toggle.active {
  display: block;
}

.row {
  width: 100%;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row form {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row form h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0271C0;
  font-weight: 1000;
}
.row form div {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row form div input {
  padding: 10px;
  border: 0;
  border-radius: 7px;
  width: 100%;
  height: 7vh;
  margin: auto;
  font-size: 2rem;
  margin-bottom: 50px;
  background-color: #B9E0FC;
}
.row form div button {
  padding: 10px;
  border: 0;
  border-radius: 7px;
  font-size: 2rem;
  background-color: #B9E0FC;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  cursor: pointer;
}

.sudoku {
  width: 30%;
  filter: blur(1px);
}

.center-play {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-play {
  position: absolute;
  text-decoration: none;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 7px;
  box-shadow: 5px;
  font-size: 30px;
  color: aliceblue;
  background-color: #0271C0;
}/*# sourceMappingURL=style.css.map */